[Unit]
Description=Celery instance to run fcm-service
After=network.target

[Service]
User=root
PrivateTmp=true
Environment="LC_ALL=en_US.UTF-8"
Environment="FCM_LICENSE=replace_with_license"
WorkingDirectory=/data/workspace/fcm
ExecStart=/usr/local/bin/celery -A fcmService.celery_task.fcmCelery worker -c 4 --loglevel INFO

[Install]
WantedBy=multi-user.target
